<link rel="stylesheet" href="app.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
<body>
  <div class="container">
    <div class="left_Side">
      <div class="profileText">
        <div class="imgBox">
          <img src="assets/img.jpg">
        </div>
        <h2>Artur G. Cardoso<br><span>Desenvolvedor Web</span></h2>
      </div>
      
      <!--Contatos-->
      <div class="contactInfo">
        <h3 class="title">Contato</h3>
        <ul>
          <li>
            <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
            <span class="text">+55 (11) 96902-2227</span>
          </li>

          <li>
            <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
            <span class="text">artur.cardoso097&#64;gmail .com</span>
          </li>

          <li>
            <span class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
            <span class="text">linkedin.com/in/artur-gustavo-cardoso/</span>
          </li>

          <li>
            <span class="icon"><i class="fa fa-github" aria-hidden="true"></i></span>
            <span class="text">github.com/arturcardoso</span>
          </li>
          
          <li>
            <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
            <span class="text">Itu, São Paulo, Brasil</span>
          </li>
        </ul>
      </div>

      <!--Formação Acadêmica-->
      <div class="contactInfo education">
        <h3 class="title">Formação Acadêmica</h3>
        <ul>
          <li>
            <h5>2021-Atual</h5>
            <h4>Graduação em Análise e Desenvolvimento de Sistemas</h4>
            <h4>FATEC Itu</h4>
          </li>
        </ul>
      </div>

      <!--Idiomas-->
      <div class="contactInfo language">
        <h3 class="title">Idiomas</h3>
        <ul>
          <li>
            <span class="text">Inglês</span>
            <span class="percent">
              <div style="width: 50%"></div>
            </span>
          </li>
          <li>
            <span class="text">Português</span>
            <span class="percent">
              <div style="width: 100%"></div>
            </span>
          </li>
          <li>
            <span class="text">Espanhol</span>
            <span class="percent">
              <div style="width: 15%"></div>
            </span>
          </li>
        </ul>
      </div>



    </div> <!--Final Left Side-->

    





    <div class="right_Side"></div>
  </div>
</body>
  