<link rel="stylesheet" href="app.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
<body>
  <div class="container">
    <div class="left_Side">
      <div class="profileText">
        <div class="imgBox">
          <img src="assets/img.jpg">
        </div>
        <h2>Artur G. Cardoso<br><span>Desenvolvedor Web</span></h2>
      </div>
      
      <!--Contatos-->
      <div class="contactInfo">
        <h3 class="title">Contato</h3>
        <ul>
          <li>
            <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
            <span class="text">+55 (11) 96902-2227</span>
          </li>

          <li>
            <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
            <span class="text">artur.cardoso097&#64;gmail .com</span>
          </li>

          <li>
            <span class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
            <span class="text">linkedin.com/in/artur-gustavo-cardoso/</span>
          </li>

          <li>
            <span class="icon"><i class="fa fa-github" aria-hidden="true"></i></span>
            <span class="text">github.com/arturcardoso</span>
          </li>
          
          <li>
            <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
            <span class="text">Itu, São Paulo, Brasil</span>
          </li>
        </ul>
      </div>

      <!--Formação Acadêmica-->
      <div class="contactInfo education">
        <h3 class="title">Formação Acadêmica</h3>
        <ul>
          <li>
            <h5>2021 - Atual</h5>
            <h4>Graduação em Análise e Desenvolvimento de Sistemas</h4>
            <h4>FATEC Itu</h4>
          </li>
        </ul>
      </div>

      <!--Idiomas-->
      <div class="contactInfo language">
        <h3 class="title">Idiomas</h3>
        <ul>
          <li>
            <span class="text">Inglês</span>
            <span class="percent">
              <div style="width: 50%"></div>
            </span>
          </li>
          <li>
            <span class="text">Português</span>
            <span class="percent">
              <div style="width: 100%"></div>
            </span>
          </li>
          <li>
            <span class="text">Espanhol</span>
            <span class="percent">
              <div style="width: 15%"></div>
            </span>
          </li>
        </ul>
      </div>
    </div> <!--Final Left Side-->

    <div class="right_Side">
      <div class="about">
        <h2 class="title2">Objetivos</h2>
        <p>Estudante de Análise e Desenvolvimento de Sistemas há quase 3 anos, busco ingressar na área com o objetivo de adquirir mais experiência e conhecimento dentro do mercado de trabalho.<br><br> Tenho interesse em ingressar na parte de Front-end e adiquirir conhecimento na área de UX/UI Design e Empreendedorismo.</p>
      </div>

      <div class="about">
        <h2 class="title2">Experiêicia</h2>
        <div class="box">
          <div class="year_company">
            <h5>2022 - 2023</h5>
            <h5>Prefeitura da Estãncia Turistica de Itu</h5>
          </div>
          <div class="text">
            <h4>Estágio de Suporte de TI</h4>
            <p>Responsável por gerenciar os equipamentos eletrônicos das escolas (impressoras, computadores, câmeras e projetores), auxiliar aos alunos e professores com o manuseio dos equipamentos e zelar a sala de informática.</p>
          </div>
        </div>
      </div>

      <div class="about skills">
        <h2 class="title2">Habilidades Profissionais</h2>
        <div class="box">
          <h4>HTML & CSS</h4>
          <div class="percent">
            <div style="width: 80%"></div>
          </div>
        </div>

        <div class="box">
          <h4>JavaScript</h4>
          <div class="percent">
            <div style="width: 30%"></div>
          </div>
        </div>

        <div class="box">
          <h4>Angular</h4>
          <div class="percent">
            <div style="width: 15%"></div>
          </div>
        </div>

        <div class="box">
          <h4>Java</h4>
          <div class="percent">
            <div style="width: 25%"></div>
          </div>
        </div>

        <div class="box">
          <h4>Canvas</h4>
          <div class="percent">
            <div style="width: 60%"></div>
          </div>
        </div>

        <div class="box">
          <h4>Edição de Vídeo</h4>
          <div class="percent">
            <div style="width: 55%"></div>
          </div>
        </div>

        <div class="box">
          <h4>UX/UI Design</h4>
          <div class="percent">
            <div style="width: 45%"></div>
          </div>
        </div>
      </div>

      <div class="about skills">
        <h2 class="title2">Interesses</h2>
      </div>

    </div>
  </div>
</body>
  